# SQL Encoder (güvenli SQL kodlayıcı)
# Bu dosyada parola tutulmaz; PostgreSQL bilgileri ana .env dosyasından okunur.

SQL_ENCODER_MAX_ROWS=100
SQL_ENCODER_STATEMENT_TIMEOUT_MS=10000
SQL_ENCODER_LOCK_TIMEOUT_MS=1000
SQL_ENCODER_MAX_SQL_CHARS=12000
SQL_ENCODER_MAX_JOINS=3
SQL_ENCODER_MAX_AST_NODES=500
SQL_ENCODER_MAX_REQUEST_CHARS=2000
SQL_ENCODER_TIMEOUT_SECONDS=180
SQL_ENCODER_NUM_CTX=4096
SQL_ENCODER_NUM_PREDICT=300
SQL_ENCODER_DEFAULT_RANDOM_SEED=20260806
